#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tasks{
  margin-top: 20px;
  font-size: 17px;
  display: flex;

  justify-content:space-between;
  width: 780px;
  height: 60px;
  align-items: center;
  background-color:rgb(140, 177, 248);
  border-radius: 10px;
}
.btnSpan{
  display: flex;
  justify-content:space-between;
  margin-right: 10px;
  align-items: center;
  width: 120px;
}

.posts{
  display: flex;
  justify-content:space-between;
  width: 780px;
  height: 60px;
}
.delete{
  background-image: url(./imgs/garbage.png);
}
.update{
  background-image: url(./imgs/updatepng.png);
}
.delete,.update{
  background-size: cover;
  background-repeat: no-repeat;
  width: 43px;
  height: 45px;

}
.postTitle{
margin-left: 20px;
}