#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
    flex-direction: column;
    align-items: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.tasks,.albums{
  margin-top: 20px;
  font-size: 17px;
  display: flex;

  justify-content:space-between;
  width: 780px;
  height: 60px;
  align-items: center;
  background-color:rgb(140, 177, 248);
  border-radius: 10px;
}
.btnSpan{
  display: flex;
  justify-content:space-between;
  margin-right: 10px;
  align-items: center;
  width: 120px;
}

.postBody{
  width: 500px;
  border-width: 5px;
}

.posts{
  align-items: center;
  display: flex;
  justify-content:space-between;
  width: 780px;
  height: 60px;
}
.delete{
  background-image: url(./imgs/garbage.png);
}
.update{
  background-image: url(./imgs/updatepng.png);
}
.showPost{
  padding: 0%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 13px;
  height: 15px;
  margin-right: 10px;
  background-image: url(./imgs/showPost1.png);
}
.delete,.update{
  background-size: cover;
  background-repeat: no-repeat;
  width: 43px;
  height: 45px;

}
.postTitle{
margin-left: 20px;
}
.operations{
  margin-top: 20px;
  display: flex;
  justify-content: space-around
}
.select{
  width: 300px;
}
nav{
  display: flex;
  justify-content: space-around;
  width: 500px;
}
.idSpan{
  margin-left: 10px;
}
.label{
  font-weight: 700;
}

.postsContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
}
